@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
  font-feature-settings: "liga" 1, "clig" 1;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  box-sizing: border-box;
  letter-spacing: -4%;
  color: #222646;
  text-align: center;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fffaf4;
}
button {
  cursor: pointer;
}
.test-button {
  width: 11.2vw;
  height: 11.2vw;
  max-width: 150px;
  max-height: 150px;
  border: none;
  padding: 5px 0;
  background-color: #ece4da;
  font-size: 18px;
  line-height: 0.1;
  border: #222646 1px solid;
  border-right: none;
}
.question {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
  max-width: 80vw;
}
.questions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
.test-button:nth-child(4) {
  background-color: #888cb2;
}
.extremum {
  margin: 5px;
  font-size: 18px;
}
.submit-btn {
  width: 25vw;
  height: 25vw;
  max-width: 150px;
  max-height: 150px;
  color: #15294f;
  background-color: #888cb2;
  font-size: 18px;
  margin-bottom: 200px;
  border: none;
  cursor: pointer;
  border: #15294f 1px solid;
}
.title-img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  margin: 0;
  border-bottom: #15294f 1px solid;
  padding: 10px;
}
.title {
  font-size: 50px;
  font-weight: 400;
  max-width: 80%;
  margin: 50px;
}
.results-table {
  width: 90%;
  max-width: 1000px;
  margin-top: 30px;
}
.bg-bar {
  width: 100%;
  height: 8vh;
  background-color: transparent;
  border: 1px solid #fffaf4;
}
.filled-bar {
  width: 50%;
  height: 8vh;
  background-color: #fffaf4;
  position: relative;
  top: -8vh;
}
.bar-container {
  width: 70%;
  margin: 20px 10px -6vh 10px;
  max-width: 800px;
}
.side {
  margin: 5px;
  color: #fffaf4;
}
.results-table,
tr,
td {
  border: 1px solid #fffaf4;
  border-collapse: collapse;
}
td {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  width: 50%;
}
.curators {
  background-color: #37687b !important;
}
.simplists {
  background-color: #5b743e !important;
}
.explorers {
  background-color: #7b3748 !important;
}
.vibers {
  background-color: #9a884c !important;
}

.light {
  color: #fffaf4;
  border-color: #fffaf4;
}

.type {
  font-weight: 400;
  margin-top: 0;
  font-size: 32px;
}
.bar-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: -9vw;
  max-width: 1000px;
}
.sub-title {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 400;
  margin-top: 50px;
  text-align: left;
  width: 85%;
  max-width: 800px;
}
.result {
  max-width: 85%;
  font-size: 48px;
  font-weight: 400;
  margin: 150px 0 10px 0;
  text-align: left;
  width: 85%;
  max-width: 800px;
}
.res-information {
  width: 85%;
  max-width: 800px;
  font-size: 20px;
  line-height: 1.7;
  margin: 0;
  text-align: left;
}
.information-flex {
  width: 85%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.information-flex .res-information {
  text-align: center;
}
.visible-ipt {
  width: 78.4vw;
  max-width: 1050px;
  height: 11.2vw;
  max-height: 150px;
  font-size: 24px;
  border: 1px #15294f solid;
  background-color: #ece4da;
  color: #15294f;
  margin-bottom: 10px;
}
.visible-ipt:focus {
  outline: none;
}
.propositions-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.propositions {
  height: 11vw;
  width: 11vw;
  max-width: 145px;
  max-height: 145px;
  border: #15294f 1px solid;
  margin: 0.1vw;
  background-color: #ece4da;
}
.propositions:hover {
  background-color: #888cb2;
}
.consent {
  margin: -40px 0 40px 0;
  font-size: 300px;
}
input[type="checkbox"] {
  transform: scale(2);
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  td {
    font-size: 16px;
    padding: 10px;
  }
}
