@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
  font-feature-settings: "liga" 1, "clig" 1;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  box-sizing: border-box;
  letter-spacing: -4%;
  color: #222646;
  text-align: center;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fffaf4;
}
button {
  cursor: pointer;
}
.test-button {
  width: 11.2vw;
  height: 11.2vw;
  max-width: 150px;
  max-height: 150px;
  border: none;
  padding: 5px 0;
  background-color: #ece4da;
  font-size: 18px;
  line-height: 0.1;
  border: #222646 1px solid;
  border-right: none;
}
.question {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
  max-width: 80vw;
}
.questions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
.test-button:nth-child(4) {
  background-color: #888cb2;
}
.extremum {
  margin: 5px;
  font-size: 18px;
}
.submit-btn {
  width: 25vw;
  height: 25vw;
  max-width: 150px;
  max-height: 150px;
  color: #15294f;
  background-color: #888cb2;
  font-size: 18px;
  margin-bottom: 200px;
  border: none;
  cursor: pointer;
  border: #15294f 1px solid;
}
.title-img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  margin: 0;
  border-bottom: #15294f 1px solid;
  padding: 5px;
}
.title {
  font-size: 50px;
  font-weight: 400;
  max-width: 80%;
  margin: 50px;
}
.quiz-table {
  width: 80%;
  max-width: 1000px;
  margin-top: 30px;
}
.quiz-table,
tr,
td {
  border: 1px solid #b6ada4;
  border-collapse: collapse;
}
td {
  padding: 10px;
  text-align: center;
}
.curator {
  background-color: #b1cad5;
}
.simplist {
  background-color: #c0d6b2;
}
.explorer {
  background-color: #d6b2b5;
}
.viber {
  background-color: #d6ccb2;
}
